.container {
  @apply mt-2;
  border: 1px solid #e2e2e2;
  padding: 10px 20px;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  cursor: pointer;
}

.dropdownContainer {
  z-index: 10000000;
  background-color: white;
  width: 325px;
  top: 101%;
  left: 0px;
  height: 150px;
  overflow: scroll;
  padding: 10px;
  border: 1px solid #e2e2e2;
  border-top: none;
  padding: 10px 0px;
  animation: dropdownIn 0.3s;
  animation-fill-mode: forwards;
}
.dropdownContainer li:last-child {
  display: none;
}
@keyframes dropdownIn {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: 150px;
    opacity: 1;
  }
}
