.token-detail .ms-Panel-main {
  width: 100% !important;
}
.token-detail .ms-Panel-commands {
  display: none;
}
.token-detail .ms-Panel {
  animation: none !important;
}
.token-detail .ms-Panel-content {
  padding: 0 !important;
  overflow: hidden;
}
.token-detail .ms-Panel-contentInner {
  overflow: hidden;
}
.token-detail {
  width:360px;
  height:600px;
  animation: moveInRight 0.3s;
  overflow: hidden;
}
@keyframes moveOutRightReceive {
  from {
    opacity: 1;
    transform: translate(0px);
  }
  to {
    opacity: 1;
    transform: translate(360px);
  }
}

@keyframes moveInRight {
  from {
    opacity: 1;
    transform: translateX(300px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.token-detail .ms-LayerHost {
  overflow: hidden;
}
