@keyframes dropdownIn {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: 240px;
    opacity: 1;
  }
}
@keyframes dropdownOut {
  from {
    height: 240px;
    opacity: 1;
  }
  to {
    height: 0px;
    opacity: 0;
  }
}
