.dropdownContainer {
  width: 100%;
  height: 100%;
}
.dropdownItem {
  display: flex;
  flex-direction: row;
  padding: 12px;
  font-size: 15px;
  cursor: pointer;
}
.dropdownItem:hover {
  background-color: #eff3fe;
}
.dropdownItem p {
  margin-left: 20px;
}
.dropdownItem:last-child {
  color: red;
}

.disabled {
  @apply text-gray-3;
  cursor: default;
}

.disabled:hover {
  @apply bg-white;
}

