.fieldGroup-45 {
  border: none !important;
  border-bottom: 1px solid #e2e2e2 !important;
  outline: none !important;
  border-radius: 0px !important;
  margin-top: 20px;
}
.fieldGroup-61 {
  border: none !important;
  border-bottom: 1px solid #276ef1 !important;
  border-radius: 0px;
}

.fieldGroup-61::after {
  border: none !important;
  border-radius: 0px;
}
.ms-TextField-fieldGroup {
  margin-top: 10px !important;
}
#TextField0:focus .fieldGroup-61 {
  border-bottom: 1px solid !important;
}
#TextField0 {
  font-size: 20px;
}
#TextFieldLabel2 {
  font-size: 16px !important;
}
#TextField3 {
  font-size: 20px;
}
#TextFieldLabel5 {
  font-size: 16px !important;
}
.password .revealButton-52 {
  display: none;
}
.revealSpan-53 i {
  color: black;
  font-size: 20px;
}
