.connect .ms-Panel-main {
  width: 100% !important;
}
.connect .ms-Panel-commands {
  display: none;
}

.connect .ms-Panel-content {
  padding: 0 !important;
}
.ms-Panel-scrollableContent {
  width: 100%;
  height: 100%;
}
.ms-Panel-content {
  width: 100%;
  height: 100%;
}
.connect .ms-Panel {
  animation: moveInBottomImport .3s ease-out;
  animation-fill-mode: forwards;
}
.ms-Panel-contentInner {
}
@keyframes moveOutBottomImport {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(500px);
  }
}
@keyframes moveInBottomImport {
  from {
    opacity: 0;
    transform: translateY(240px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
.connect .ms-LayerHost {
  overflow: hidden;
}
