.createContainer {
  max-width: 360px;
  height: 100%;
  overflow: hidden;
}
.dropdownContainer {
  z-index: 10000000;
  background-color: white;
  width: 320px;
  top: 45px;
  left: 0px;
  height: 150px;
  overflow: scroll;
  padding: 10px;
  border: 1px solid #d8d8d8;
  border-top: none;
  padding: 10px 0px;
  animation: dropdownIn 0.3s;
  animation-fill-mode: forwards;
}
.dropdownContainer li:last-child {
  display: none;
}
.error {
  color: red;
  font-size:12px;
  bottom: -15px;
  left:5px;
  position: absolute;
}
.container {
  position: absolute;
  z-index: 10000000000000;
}
.headerIcon {
  position: absolute;
  top: 50%;
  left: 0;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 50%;
  transform: translateY(-48%);
}
.headerIcon:hover {
  background-color: #e6e6e6;
}
.headerIcon i {
  @apply font-normal;
}
@keyframes dropdownIn {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: 150px;
    opacity: 1;
  }
}
.outPrint {
  opacity: 0.4;
  pointer-events: none;
}
