.tabs .tab {
  padding: 8px;
  @apply text-gray-7;
  border-bottom: 1px solid lightgray;
}

.tabs .tab.active {
  border-bottom: 1px solid;
  @apply text-black;
}

.tabs .tab.active button {
  font-weight: 500;
}

.mini-cube {
  width: 5px;
  height: 5px;
}

.text-with-mini-cube {
  position: relative;
  padding-left: 10px;
}

.text-with-mini-cube .mini-cube {
  position: absolute;
  left: 0;
  top: 6px;
}

.button-select {
  border-radius: 20px;
}
