.account .ms-Panel-main {
  width: 100% !important;
}
.account .ms-Panel-commands {
  display: none;
}

.account .ms-Panel-content {
  padding: 0 !important;
}
.ms-Panel-scrollableContent {
  width: 100%;
  height: 100%;
}
.ms-Panel-content {
  width: 100%;
  height: 100%;
}
.account .ms-Panel {
  animation: moveInBottom 0.3s;
  animation-fill-mode: forwards;
  transition: all 1s !important;
}
.ms-Panel-contentInner {
  transform: translate(-2px);
}
@keyframes moveOutBottom {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(400px);
  }
}
@keyframes moveInBottom {
  from {
    transform: translateY(400px);
  }
  to {
    transform: translateY(0rem);
  }
}
.account .ms-LayerHost {
  overflow: hidden;
}
